body {
  background: #ffffff;
  color: #333333;
  text-align: center;
  font-family: sans-serif; 
}

header {
  @include pad (default);
}

.avatar {
  display: block;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  img {
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.avatar {
  -webkit-animation-name: avatar;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes avatar {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}