body {
  font: 16px/1.5 Quicksand, "Open Sans", sans-serif; 
  background: #ffffff;
  color: #333333;
}

h1 {
  font-family: Quicksand;
  text-align: center;
}
h2 {
  font-family: Quicksand;
  text-align: center;
}

p {
  font-family: "Open Sans";
}

header {
  @include outer-container;
  @include pad (default 0);
  min-height: 500px;
}

.avatar {
  display: block;
  line-height: normal;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  img {
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.avatar {
  -webkit-animation-name: avatar;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes avatar {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

section {
  @include outer-container;
  min-height: 300px;
}

  
  #about {
    background: #f00;
  }
  #work {
    background: #0f0;
  }
  #contact {
    background: #00f;
  }

footer {
  @include outer-container;
  height: 300px;
}