<header id="hero" role="banner">
  <div class="container">
    <div class="avatar">
  	<%= image_tag("avatar.jpg", height:'141', width:'127', alt:"Andrew Lawton") %>
      <h1>
  	    Front-End Designer &amp; Developer
      </h1>
    </div>
  </div>
</header>