<nav role="navigation">
  <div class="logo">
    <span class="circle">
      <span class="inner">
        <span class="letter">
          a
        </span>
      </span>
    </span>
    <span class="name">
      Andrew Lawton
    </span>
  </div>
  <div class="container">
    <div class="menu">
      <a href="javascript:void(0);" class="hamburger"></a>
      <ul>
        <li><a href="#hero">Home</a>
        </li>
        <li><a href="#about">About</a>
        </li>
        <li><a href="#work">Work</a>
        </li>
        <li><a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
