<nav role="navigation">
  <div class="logo">
    <a href="#">
      <span>andrew</span> <span>lawton</span>
    </a>
  </div>
  <button class="menu-icon" aria-expanded="false" aria-controls="menu">
    <span>Menu</span>
  </button>
  <div id="menu">
    <ul class="menu-list">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Works</a></li>
    </ul>
  </div>
</nav>