---
title: Andrew Lawton - Contact
metaDescription:
metaKeywords:
bodyClass:
---
<div class="container">
  <h1 class="header-underline">
    Contact Me
  </h1>
  <section class="get-in-touch">
    <form name="frm" action="/cgi-bin/FormMail.index.pl" method="post" id="contactForm">
      <fieldset>
        <div class="field">
          <label for="name">Name</label>
          <input id="name" name="fullname" minlength="2" type="text" placeholder="Enter your full name" required>
        </div>
        <div class="field">
          <label for="email">E-Mail (required)</label>
          <input id="email" type="email" name="email" placeholder="name@domain.com" required>
        </div>
        <div class="field">
          <label for="comment">Your comment (required)</label>
          <textarea id="comment" name="comment" placeholder="Enter your full name" required></textarea>
        </div>
        <div class="field center">
          <input class="btn-primary" type="submit" value="Send">
        </div>
      </fieldset>
    </form>
  </section>
</div>