---
title: Work | Andrew Lawton
metaDescription:
metaKeywords:
bodyClass: work
---

<div class="container">
  <h1 class="header-underline">
    Work
  </h1>
  <div class="full-bleed">
    <div class="work-image">
      <% link_to "/work/muzit/index.html", class:"" do %>
        <figure>
          <%= image_set_tag "work/muzit_2000w.jpg", {
            "work/muzit_320w.jpg" => "320w",
            "work/muzit_821w.jpg" => "821w",
            "work/muzit_1163w.jpg" => "1163w",
            "work/muzit_1326w.jpg" => "1326w",
            "work/muzit_1497w.jpg" => "1497w",
            "work/muzit_2000w.jpg" => "2000w"},
            sizes: "(max-width: 2000px) 100vw, 2000px",
            alt: "A person's hands a holding mobile phone with Muzit title details on the screen",
            class: "responsive" %>
        </figure>
        <div class="container company-name" data-aos="fade-up">
          <h2>Muzit</h2>
        </div>
      <% end %>
    </div>
    <div class="work-image">
      <% link_to "/work/frontstream/index.html", class:"" do %>
        <figure>
          <%= image_set_tag "work/frontstream_2000w.jpg", {
            "work/frontstream_320w.jpg" => "320w",
            "work/frontstream_939w.jpg" => "939w",
            "work/frontstream_1404w.jpg" => "1404w",
            "work/frontstream_1638w.jpg" => "1638w",
            "work/frontstream_1924w.jpg" => "1924w",
            "work/frontstream_2000w.jpg" => "2000w"},
            sizes: "(max-width: 2000px) 100vw, 2000px",
            alt: "A person's hands holding a mobile phone with BiddingForGood mobile site design on the screen",
            class: "responsive" %>
        </figure>
        <div class="container company-name" data-aos="fade-up">
          <h2>FrontStream</h2>
        </div>
      <% end %>
    </div>
    <div class="work-image">
      <% link_to "/work/biddingforgood/index.html", class:"" do %>
        <figure>
          <%= image_set_tag "work/biddingforgood_2000w.jpg", {
            "work/biddingforgood_320w.jpg" => "320w",
            "work/biddingforgood_789w.jpg" => "789w",
            "work/biddingforgood_1287w.jpg" => "1287w",
            "work/biddingforgood_1604w.jpg" => "1604w",
            "work/biddingforgood_1897w.jpg" => "1897w",
            "work/biddingforgood_2000w.jpg" => "2000w"},
            sizes: "(max-width: 2000px) 100vw, 2000px",
            alt: "A person's hands on a laptop keyboard with BiddingForGood homepage on the screen",
            class: "responsive" %>
        </figure>
        <div class="container company-name" data-aos="fade-up">
          <h2>BiddingForGood</h2>
        </div>
      <% end %>
    </div>
  </div>
  <%= partial "partials/contact" %>
</div>