---
title: BiddingForGood | Andrew Lawton
metaDescription:
metaKeywords:
bodyClass: work
---
<div class="container">
  <header class="hero full-bleed">
    <figure>
      <%= image_tag("muzit/muzit-hero.jpg", alt: "Screenshot of the Muzit title details page displayed on the desktop", class: "responsive") %>
    </figure>
  </header>
  <h1 class="header-underline"> BiddingForGood </h1>
  <section class="full-bleed project-details">
    <div class="container">
      <div class="col-3">
        <div>
          <h3>Overview</h3>
          <p>
            BiddingForGood is an auction and event management platform that enables schools, non-profits and charities to run auctions and events to raise money for their specifc cause.
          </p>
        </div>
        <div>
          <h3>Role</h3>
          <ul>
            <li>Design</li>
            <li>Rapid Prototyping</li>
            <li>Interaction Design</li>
            <li>Cross Browser and Functional Testing</li>
          </ul>
        </div>
        <div>
          <h3>Tech</h3>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>SASS</li>
            <li>JQuery</li>
            <li>JQuery UI</li>
            <li>GitHub</li>
            <li>Middleman</li>
            <li>Ruby on Rails</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <p class="intro">
    Over the course of 12 years I was responsible for the entire front-end design and development of BiddingForGood's product line that encompassed a consumer shopping portal for cause minded shoppers and an auction and event management platform used by over 10,000 non-profit organizations.
  </p>
  <h2 class="text-center">
    Auction Manager
  </h2>
  <section>
    <div class="container">
      <div class="col-2 ">
        <figure class="image">
          <%= image_tag("biddingforgood/platform-dashboard.png", alt:"Screen shot of BiddingForGood auction manager page.", class:"responsive") %>
        </figure>
        <div class="description">
          <h3>
            Dashboard
          </h3>
          <p>
            The Auction Manager was designed to be easy to use and flexible for non-profit organizations to easily set-up, promote and manage their online auction fundraiser. From creating the auction and building catalog pages, to tracking the process and evaluating the auctions success.
          </p>
        </div>
      </div>
  </section>
  <div class="container">
    <div class="col-2 reverse">
      <figure class="image">
        <%= image_tag("panorama-new-widget.png", alt:"Panorama Create New widget", class:"responsive") %>
      </figure>
      <div class="description">
        <h3>
          Create Widgets
        </h3>
        <p>
          Customizable widgets can be created based on data sourced from each FrontStream Web site and can be manipulated so clients can gain insight into their overall fundraising activities and decision making.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-2">
      <figure class="image">
        <%= image_tag("panorama-edit-widget.png", alt:"Panorama Edit Widget", class:"responsive") %>
      </figure>
      <div class="description">
        <h3>
          Edit Widgets
        </h3>
        <p>
          Client's can easily modify existing widgets to show a different representation of the data.
        </p>
      </div>
    </div>
  </div>
</div>