*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  display: flex;
  flex-direction: column;
  font: 16px/1.5 "Roboto Slab", sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

ul {
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
}

main {
  flex: 1 0 auto;
}

section {
  padding: 1em;
}

img.responsive {
  height: auto;
  width: 100%;
}

.btn-primary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--primary-color);;
  border: 1px solid #da393f;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Calibre", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.9;
  padding: 0.375rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease-in-out, box-shadow 300ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  width: auto;
}


.home .intro {
  font-size: 1.5em;
  line-height: normal;
  margin-bottom: 2em;
  text-align: center;
}

a.active {
  border-bottom: 2px solid var(--primary-color);;
}

.invisible {
  visibility: hidden;
}

.animated {
  visibility: visible !important;
}

// UTILITIES

.center {
  text-align: center;
}

.hidden {
  display: none;
}


