*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  display: flex;
  flex-direction: column;
  font: 16px/1.5 "Work Sans", sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

figure {
  margin: 0;
}

img.responsive {
  height: auto;
  max-width: 100%;
}

main {
  flex: 1 0 auto;
  margin-top: 50px;

  a:not(.btn, .work-nav) {
    color: #cd2026;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      border-bottom: 2px solid #cd2026;
      transition-duration: 200ms;
      transition-timing-function: initial;
      transition-delay: initial;
      transition-property: border-bottom;
    }
  }

  ::selection {
    background: #cd2026;
    color: #fff;
  }
}

.btn {
  display: inline-block;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: inherit;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: .5rem 1.5rem;
  font-size: .80rem;
  border-radius: 50px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;

  &.btn-dark {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }

  &.btn-outline {
    border-color: #000;
    color: #212121;
  }

  &:hover {
    background-color: #cd2026;
    border-color: #cd2026;
    color: #fff;
  }
}

.flex {
  display: flex;
}

.intro {
  font-size: 1.25rem;
  margin: 4rem 0;
}

.section-content {
  margin: 4rem 0;
}

.background-alt {
   background-color: #f5f5f7;
}

.project {
  overflow: hidden;
  position: relative;

  a {
    background: none;
    border-bottom: none;
    display: block;
    position: inherit;

    &:hover {
      background: inherit;
      box-shadow: none;
      transition: none;
      color: transparent;
    }
  }

  .name {
    color: #fff;
    left: 0;
    position: absolute;
    right: 0;
    text-shadow: 1px 1px #111;
    bottom: 10%;
    width: auto;
    /* allow image to recieve hover event transition effect from absolute positioned element */
    pointer-events: none;

    h2 {
      margin: 0;
    }
  }

  img {
    display: block;
    max-height: 550px;
    object-fit: cover;
    width: 100%;
    transition: all 0.8s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.tile {
  background-color: #fff;
  margin-bottom: 3rem;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5rem;

  &.tile-rounded {
    border-radius: 1em;
  }

  &.box-shadow {
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.1);
  }

  &.border-top {
    border-top: 3px solid #cd2026;
  }
}

.section-flex-tiles {

  .tile {
    margin-bottom: 3rem;
    max-width: 350px;

    @media only screen and (min-width: 734px) {
      max-width: 100%;
    }

    .tile-content {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      @media only screen and (min-width: 734px) {
        flex-direction: row;

      }
    }

    .text {
      order: 1;
      padding-bottom: 2rem;

      h3 {
        margin: 0;
      }

      a:hover {
        box-shadow: none;
      }

      p {
        margin-bottom: 2em;
      }

      @media only screen and (min-width: 734px) {
        display: inline-block;
        margin-left: 1.25rem;
        max-width: 350px;
        order: 2;
        padding-bottom: 0;
      }

      &.flipped {
        @media only screen and (min-width: 734px) {
          order: 1;
        }

        &.text {
          @media only screen and (min-width: 734px) {
            margin-right: 1.25rem;
            margin-left: 0;
          }
        }
      }
    }

    .image {
      order: 2;

      @media only screen and (min-width: 734px) {
        display: inline-block;
        order: 1;
      }

      img {
        box-shadow: 1px 5px 10px 0 rgba(0,0,0,.24);
        display: block;
      }
    }
  }
}

.invisible {
  visibility: hidden;
}

.animated {
  visibility: visible !important;
}

// Utilities

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}