*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  display: flex;
  flex-direction: column;
  font: 16px/1.5 "Roboto Slab", sans-serif;
  min-height: 100vh;
  // -webkit-font-smoothing: antialiased;
}

ul {
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
}

figure {
  margin: 0;
}

main {
  flex: 1 0 auto;
}

section {
  padding: 1em;
}

img.responsive {
  height: auto;
  width: 100%;
}

a.active {
  border-bottom: 2px solid var(--primary-color);;
}

.invisible {
  visibility: hidden;
}

.animated {
  visibility: visible !important;
}

// UTILITIES

.center {
  text-align: center;
}

.hidden {
  display: none;
}


