//contact

section {
  &.contact {
    margin: 5rem auto;
    text-align: center;
    h3 {
      margin: 0 0 3rem;
    }
  }
}

form {
  &.contact {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    fieldset {
      grid-column: 2 / span 10;

      @media (min-width: 48em) {
        grid-column: 4 / span 6;
      }
    }
  }
}