// logo

.logo {
    align-items: center;
    background-color: #fff;
    border: 3px solid #000;
    font-family: "Poppins";
    /*border-radius: 2px;*/
    display: flex;
    height: 36px;
    justify-content: center;
    position: relative;
    text-decoration: none;
    width: 36px;
  }

  .logo::before,
  .logo::after {
    content: '';
    height: 7px;
    width: 7px;
    position: absolute;
    background-color: #fff;
    top: 12px;
    border-top: 3px solid #000;
    border-left: 3px solid #000;
  }

  .logo::before {
   left: -6px;
   transform: rotate(-45deg);
  }

  .logo::after {
    right: -6px;
    transform: rotate(135deg);
  }

  .logo span {
    font-size: 20px;
    font-weight: 900;
    color:  #000;
    display:  block;
  }

  .scroll .logo {
    background-color: #000;
    border: 3px solid #fff;
  }

  .scroll .logo::before,
  .scroll .logo::after {
    background-color: transparent;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
  }

.scroll .logo span::before,
.scroll .logo span::after {
  content: '';
  position: absolute;
  top: 11px;
  // left: -8px;
  height: 0;
  width: 10px;
  border-bottom: 5px solid transparent;  /* left arrow slant */
  border-top: 5px solid transparent; /* right arrow slant */
  // border-right: 5px solid #000; /* bottom, add background color here */
}

.scroll .logo span::after {
  right: -8px;
  border-left: 5px solid #000; /* bottom, add background color here */
}

.scroll .logo span::before {
  left: -8px;
  border-right: 5px solid #000; /* bottom, add background color here */
}

.scroll .logo span {
  color:  #fff;
}
