// fonts


h1, h2 ,h3 ,h4 {
  font-family: "Poppins";
}

h1 {
  font-family: "Poppins";
/*  --fluid-type-min: 2.25rem;
  --fluid-type-max: 3.25rem;
  --fluid-type-target: 5vw;*/

  font-size: clamp(2.75rem, 5vw, 4rem);
}

h2 {
  font-family: "Poppins";
/*  --fluid-type-min: 1.75rem;
  --fluid-type-max: 2.5rem;*/

  font-size: clamp(2.25rem, 4vw, 3.25rem);

}

h3 {
  font-family: "Poppins";
/*  --fluid-type-min: 1.5rem;
  --fluid-type-max: 2.0rem;*/

  font-size: clamp(1.75rem, 3vw, 2.25rem);
}

h4 {
  font-family:  "Poppins";
}


.header-underline {
  display: inline-block;
  padding-bottom: 1px;
  position: relative;
  text-align:  center;
}

.header-underline::before {
  border-bottom: 4px solid #cd2026;
  bottom: -4px;
  content: "";
  left: calc(50% - 7%);
  position: absolute;
  width: 14%;
}

p.work-sans {
  font-family: "Work Sans";
}

p.roboto {
  font-family: "Roboto";
}

p.lato {
  font-family: "Lato";
}
