// fonts

h1, h2 ,h3 , h4, h5 {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: clamp(2.75rem, 5vw, 4rem);
}

h2 {
  font-size: clamp(2.25rem, 4vw, 3.25rem);
}

h3 {
  font-size: clamp(1.75rem, 3vw, 2.25rem);
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.header-underline {
  display: inline-block;
  padding-bottom: 1px;
  position: relative;
  text-align:  center;
}

.header-underline::before {
  border-bottom: 4px solid #cd2026;
  bottom: -4px;
  content: "";
  position: absolute;
  left: calc(50% - 10%);
  width: 20%;

  @media (min-width: 36rem) {
    left: calc(70% - 25%);
    width: 10%;
  }
}