// ==============================
// Work
// ==============================


.work h1 {
  margin: 3rem 0 4rem 0;
}

.work .work-image {
  &:nth-child(2) {
    border-top: 4px solid #cd2026;
    border-bottom: 4px solid #cd2026;
  }
}

.work .hero img {
  display: block;
  max-height: 75vh;
  object-fit: cover;
  object-position: center top;
  width: 100%;

  @media (min-width: 768px) {
    max-height: 100vh;
  }
}

.work h3 {
  span {
    color: #cd2026;
    display: inline-block;
    margin-left: .15em;
  }
}

.work .project-details {
  background: #f4f4f4;
  padding: 1.5em 0;

  ul {
    list-style: none;
    padding: 0;
  }
}

.work .project-details .col-3 {
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 3em;
}

.evaluation {
  margin-bottom: 1.5rem;

  img {
    border-radius: 2px;
    box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.24);
    display: block;
    margin-bottom: 1.5em;
  }
}

.summary {
  background: #f5f5f5;
  padding: .5rem 0;

  h4 {
    font-size: 1.25rem;
  }

  p {
    font-size:  1.15rem;
    margin: 2em 0;
    text-align: center;

    @media (min-width: 768px) {
      margin: 2em 3em;
    }
  }
}

.redesign {
  // img {
  //   margin-top: 3rem;
  //  }
}

.work .box-shadow {
  box-shadow: 0 12px 22px 0 rgba(0,0,0,.24);
}

.work .border {
  border: 1px solid #ccc;
}

.work .border-radius {
  border-radius: 4px;
   img {
    border-radius: inherit
   }
}

.image-header-text {
  h6 {
    margin: 0;
  }
  .phone-mockup {
    margin-top: 2rem;
  }
}

.parallax {
  position: relative;
  //opacity: 0.85;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #111;
  height : 100vh;
  //height: 500px;

  &.muzit-hero {
    background-image: url("/images/muzit/muzit-hero_2246w.jpg");
  }

  /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
  @media only screen and (max-device-width: 48em) {
      background-attachment: scroll;
  }
}

.bgimg-2 {
  //background-image: url("parallax-muzit-hero.jpg");
  min-height: 400px;
}

.bgimg-3 {
  //background-image: url("img_parallax3.jpg");
  min-height: 400px;
}

// reverse grid-area columns

// @media(min-width: 768px) {
//   .work main .col-2 {
//     grid-gap: 3rem;
//     grid-template-areas: "img content";
//     grid-column: full-start / full-end;
//   }

//   .work .col-2 .image {
//     grid-area: img;
//   }

//   .work .col-2 .image img {
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//   }

//   .work .col-2 .description {
//     grid-area: content;
//     font-size: 1.15em;
//   }

//   .work .col-2.reverse {
//     grid-template-columns: 1fr 1fr;
//     grid-template-areas: "content img";
//   }
// }

.result {
  font-size: 1.25rem;
  margin-bottom: 4rem;
}

.work-nav {
  position: relative;

  a {
    color: #212121;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 900;
    margin-bottom: .25rem;
    text-decoration: none;

    &:hover {
      color: #cd2026;
      border-bottom: none !important;
    }

    &.chevron {
      &.left:before {
        border-style: solid;
        border-width: 0.12em 0.12em 0 0;
        content: '';
        display: inline-block;
        height: 0.45em;
        margin-right: 4px;
        position: relative;
        top: -2px;
        transform: rotate(-135deg);
        //vertical-align: middle;
        width: 0.45em;
      }

      &.right:after {
        border-style: solid;
        border-width: 0.12em 0.12em 0 0;
        content: '';
        display: inline-block;
        height: 0.45em;
        margin-left: 4px;
        position: relative;
        top: -1px;
        transform: rotate(45deg);
        vertical-align: middle;
        width: 0.45em;
      }
    }
  }

  h6 {
    color: #666;
    margin: 0;
    font-family: "Work Sans", sans-serif;
  }

  .col-3 {
    display: grid;
    grid-column-gap: 2em;
    grid-template-columns: repeat(3, 1fr);

    .nav-home {
      text-align: center;
      text-transform: uppercase;
    }

    .next {
      text-align: right;
    }
  }
}
