---
title: Andrew Lawton - Work Muzit
metaDescription:
metaKeywords:
bodyClass: work
---
<div class="container">


  <header class="hero full-bleed">
    <figure style="border: 1px solid #f00;">
      <%= image_tag("muzit-trace-artist-details-hero.jpg", alt:"", class: "responsive") %>
    </figure>
  </header>
  <h1 class="header-underline">
    Muzit
  </h1>
  <section class="full-bleed project-details">
    <div class="container">
    <div class="col-3">
      <div>
        <h3>Overview</h3>
        <p>
          Muzit is a data analytics company that monitors the global peer-to-peer (P2P) file sharing network of over 372 million households who have downloaded over 28 billion movies, music, video games, TV shows, software applications and other digital media. Muzit's platform enables client's to analyze category specifc torrent traffic, downloads and meta data to build targeted IP lists for direct advertising and marketing campaigns.
        </p>
      </div>
      <div>
        <h3>Design</h3>
        <ul>
          <li>Wireframe</li>
          <li>Rapid Prototyping</li>
          <li>Interaction</li>
        </ul>
      </div>
      <div>
        <h3>Tools</h3>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>SASS</li>
          <li>Bootstrap</li>
          <li>JQuery</li>
          <li>Ruby on Rails</li>
        </ul>
      </div>
    </div>
  </div>
  </section>

  <h2 class="header-underline">
      Challenge
  </h2>

  <p>
    I was contracted to redesign the first version of the Muzit platform. This process started with reviewing and analyzing the current site design to identify the major issues impacting the user experience, overall user interface design and functionality. Based on the anaylisis make recommendations to the team of the critical aspects of the design that need to be improved in the course of the redesign.
  </p>

  <h2 class="header-underline">
    Analysis
  </h2>
  <p>
    My analysis focused on the following design aspects:
  </p>
  <ul>
    <li>Navigation and information architecture</li>
    <li>Labeling</li>
    <li>Understanding and Easy interaction</li>
    <li>Search</li>
    <li>Task orientation</li>
    <li>Content hierarchy and quality</li>
    <li>Global Layout</li>
    <li>Aesthetics and Visual design</li>
  </ul>


<h3>
  Navigation
</h3>

    <figure>
        <%= image_tag("muzit-trace-v1-browser-nav.png", alt:"", class: "responsive box-shadow") %>
    </figure>




  <p>
    We think that by tackling these elements, the overall user experience can be enhanced. Moreover, the recommendations given are thought as a guideline that should be considered and when possible, replicated in other sections of the application to provide a consistent user experience.
  </p>


  <ol>
    <li>Preheat oven to 425&deg;F</li>
    <li>Mix all the ingredients
    </li>
    <li>Dump it all into a greased pan</li>
    <li>Bake for 40 minutes</li>
    <li>Take out and let cool 30 mintes</li>
    <li>Eat</li>
  </ol>

</div>