---
title: About Me | Andrew Lawton
metaDescription:
metaKeywords:
bodyClass: about
---
<style>
.tiles {
  padding: 3rem 0;
}
</style>
<div class="container">
  <header class="avatar" role="banner" data-aos="zoom-in">
    <%= image_tag("avatar.jpg", alt: "Andrew Lawton avatar image", class: "responsive") %>
  </header>
  <h1 class="header-underline">About Me</h1>
  <p class="intro">
    I have over 20 years of experience creating standards compliant web sites that utilize the latest design methods and technologies. I have proven ability taking a design from concept to completion and deliver the best user experience possible.
  </p>
  <p>
    I believe in the power of high-fidelity prototypes as a means to achieve the best possible user outcomes. Based on continuous feedback from team members, stakeholder reviews and user testing the prototype design and functionality is iterated on until it evolves into a deliverable product design that meets project expectations and requirements. Joy!
  </p>
  <h2 class="text-center">Experience</h2>
  <p>
    I have proven ability distilling complex informational and functional design requirements into easy to use interfaces.
  </p>
  <p>
    I am committed to delivering the best-possible user experience that meets project requirements and deadlines.
  </p>
  <p>
    I have experience working on SaaS products and producing high-traffic web applications.
  </p>
  <p>
    I communicate effectively and able to collaborate with project stakeholders and team members at all levels.
  </p>
  <section class="full-bleed tiles background-alt">
    <h2 class="text-center">What I Do</h2>
    <div class="container">
      <div class="col-2">
        <div class="tile box-shadow border-top" data-aos="fade-right" data-aos-once="true">
          <h5 class="text-center">Interaction Design</h5>
          <p>
            The iterative process of prototyping a design in collaboration with team members to find the solution that best benefits the user is at the heart of why I do what I do.
          </p>
        </div>
        <div class="tile box-shadow border-top" data-aos="fade-left" data-aos-once="true">
          <h5 class="text-center">UI Design</h5>
          <p>
            I create user friendly interfaces out of complex ideas that conform to current design methods, conventions and trends.
          </p>
        </div>
        <div class="tile box-shadow border-top" data-aos="fade-right" data-aos-once="true">
          <h5 class="text-center">Web Development</h5>
          <p>
            I use a static site generator to build and design high-fidelity functional prototypes using HTML/CSS/SASS and JavaScript.
          </p>
        </div>
        <div class="tile box-shadow border-top" data-aos="fade-left" data-aos-once="true">
          <h5 class="text-center">Quality Assurance</h5>
          <p>
            From the start of coding to post deployment I make sure the integrity and functionality of the design is maintained across multiple devices, platforms and browsers.
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="col-2">
    <div>
      <h3>Skills</h3>
      <ul class="list-style-primary">
        <li>UI Design</li>
        <li>Responsive Design</li>
        <li>Rapid Prototyping</li>
        <li>Interaction Design</li>
        <li>Design strategy</li>
        <li>Problem solving</li>
        <li>Attention to detail</li>
        <li>Cross browser platform and device functional testing</li>
        <li>Wireframing</li>
      </ul>
    </div>
    <div>
      <h3>Tech</h3>
      <ul class="list-style-primary">
        <li>HTML</li>
        <li>CSS</li>
        <li>SASS</li>
        <li>JavaScript</li>
        <li>Jira</li>
        <li>GitHub</li>
        <li>Middleman</li>
        <li>PhotoShop</li>
        <li>Balsamiq Mockups</li>
        <li>Design integration into Rails</li>
      </ul>
    </div>
  </div>
  <section class="full-bleed background-alt">
    <div class="container">
      <div class="rotating-wrapper">
        <h4 class="rotating-sentence">
          <span>When I'm not working I love</span>
          <div class="rotating-words rotating-word">
            <span>the beach.</span>
            <span>live music.</span>
            <span>pizza.</span>
            <span>quoting movies.</span>
            <span>learning new things.</span>
            <span>being with my wife.</span>
          </div>
        </h4>
      </div>
    </div>
  </section>
  <section class="section-content">
    <div class="container">
      <div class="text-center">
        <p>
          Check out my resume to learn more about my background and experience.
        </p>
        <a href="#" class="btn btn-outline">Resume</a>
      </div>
    </div>
  </section>
  <section class="full-bleed background-alt">
    <div class="section-content">
      <div class="container">
        <div class="text-center">
          <h3>Drop me a line...</h3>
          <a href="#" class="btn btn-dark">Contact Me</a>
        </div>
      </div>
    </div>
  </section>
</div>