---
title: Andrew Lawton - About
metaDescription:
metaKeywords:
bodyClass: about
---

<div class="container">


  <header class="avatar" role="banner">
      <%= image_tag("avatar.jpg", alt: "Andrew Lawton avatar image", class: "responsive") %>
  </header>
  <h1 class="header-underline">About Me</h1>
<p>
  This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.
</p>
<section class="contact full-bleed">
  <h3>Drop me a line...</h3>
  <a href="#" class="btn">Contact Me</a>
</section>
</div>