---
title: Andrew Lawton - About
metaDescription:
metaKeywords:
bodyClass: about
---

<div class="container">
   <h1>About Me</h1>
  <div class="contact full-bleed">
    <h3>Drop me a line...</h3>
    <a href="#" class="btn">Contact Me</a>
  </div>
</div>

<script>
  console.log(window.location.pathname)
</script>