---
title: 404 - Andrew Lawton
metaDescription:
metaKeywords:
bodyClass: home
---

<style>

  .error-404 {
    display:  flex;
    align-items: center;
    justify-content: center;
    height:  100vh;

  }

  abbr {
    color: #ccc;
    font-size: 3.75em;
    font-weight: bold;
    display: block;
    line-height: .80;
  }

  abbr[title]{
    -webkit-text-decoration:  none;
    text-decoration: none;
  }

  @media (min-width: 48em) {
    abbr {
      font-size: 6em;
    }
  }

  h1 {
    margin: 1em 0 0 0;
  }
  p {
    color: #bbb;
    margin: 0 0 3em 0;
  }
</style>

<div class="container text-center">
  <div class="error-404">
    <div>
      <abbr title="I don't know">¯\_(ツ)_/¯</abbr>
      <h1>404</h1>
      <p>Sorry! Page not found.</p>
      <%= link_to "Home", "/index.html", class: "btn btn-dark"  %>
    </div>
  </div>
</div>
