---
title: Andrew Lawton - Front-End Web Design &amp; Development
metaDescription: Andrew Lawton Front-End Web Design and Development
metaKeywords: Andrew Lawton, Andrew, Lawton, Web Design, Web Development, user interface design, HTML, HTML5, CSS, CSS3, front-end, GUI, graphical user interface, interface engineer, Interface
bodyClass: home
---

<header id="hero" role="banner">
  <div class="avatar">
  	<%= image_tag("avatar.jpg", height:'141', width:'127', alt:"Andrew Lawton") %>
    <h1>
  	  Andrew Lawton
    </h1>
    <p>
    	Hi! I'm a Front-End Web designer and developer with over 15 years of professional experience creating standards compliant web sites that utilize the latest design methods and technologies.
    </p>
  </div>
</header>

<main role="main">
  <section id="about">
    <h2>
      About
    </h2>
    <div class="grid">
    <article>
      This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. 
    </article>
    <article>
      This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. 
    </article>
  </div>
  </section>
  <section id="work">
  	<h2>
  		Recent Work
  	</h2>
  </section>
  <section id="contact">
  	<h2>
  		Contact Me
  	</h2>
  </section>
</main>
<footer role="contentinfo">
  <p>
  	Mad with love in Newton, MA
  </p>
</footer>
