---
title: Andrew Lawton - Front-End Web Designer &amp; Developer
metaDescription: Andrew Lawton Front-End Web Design and Development
metaKeywords: Andrew Lawton, Andrew, Lawton, Web Design, Web Development, user interface design, HTML, HTML5, CSS, CSS3, front-end, GUI, graphical user interface, interface engineer, Interface Design
bodyClass: home
---

<header id="hero" role="banner">
  <div class="avatar">
  	<%= image_tag("avatar.jpg", height:'141', width:'127', alt:"Andrew Lawton") %>
    <h1>
  	  Andrew Lawton
    </h1>
    </div>
    <p>
    	Front-End Design &amp; Development
    </p>
</header>

<main role="main">
  <section id="about">
    <h2>
      About Me
    </h2>
    <p>
      Hi! I'm a Front-End Web designer and developer with over 15 years of professional experience creating standards compliant web sites that utilize the latest design methods and technologies.
    </p>
  </section>
  <section id="work">
  	<h2>
  		Recent Work
  	</h2>
  </section>
  <section id="contact">
  	<h2>
  		Contact Me
  	</h2>
    <form name="frm" action="/cgi-bin/FormMail.index.pl" method="post" id="contactForm">
      <fieldset>
        <div class="field">
          <label for="fullname">Full Name</label>
          <input id="fullname" name="fullname" minlength="2" type="text" placeholder="Enter your full name" required>
        </div>
        <div class="field">
          <label for="email">E-Mail (required)</label>
          <input id="email" type="email" name="email" placeholder="name@domain.com" required>
        </div>
        <div class="field">
          <label for="comment">Your comment (required)</label>
          <textarea id="comment" name="comment" placeholder="Enter your full name" required></textarea>
        </div>
        <div class="field">
          <input class="btn-primary" type="submit" value="Submit">
        </div>
      </fieldset>
    </form>
  </section>
</main>
