---
title: Andrew Lawton - Front-End Web Designer &amp; Developer
metaDescription: Andrew Lawton Front-End Web Design and Development
metaKeywords: Andrew Lawton, Andrew, Lawton, Web Design, Web Development, user interface design, HTML, HTML5, CSS, CSS3, front-end, GUI, graphical user interface, interface engineer, Interface Design
bodyClass: home
---
<%= partial "partials/header" %>

<section id="about">
  <h2>
    About Me
  </h2>
  <p class="intro">
    Hi! I'm a Front-End Web designer and developer with over 15 years of professional experience creating standards compliant web sites that utilize the latest design methods and technologies.
  </p>
</section>
<section>
  <h2>
    Recent Work
  </h2>
  <div class="recent-work">
    <div class="image-container">
      <%= image_tag("frame_generic_light.png", alt:"Muzit item detail hero image", class:"responsive") %>
    </div>
      <div class="view-project">
        <h2 class="company-name">Muzit</h2>
        <%= link_to "View Project", "/work/muzit/index.html", class: "btn" %>
      </div>
    </div>
  </div>
  <!-- // end container -->
</section>
