---
title: Andrew Lawton - Front-End Web Designer &amp; Developer
metaDescription: Andrew Lawton Front-End Web Design and Development
metaKeywords: Andrew Lawton, Andrew, Lawton, Web Design, Web Development, user interface design, HTML, HTML5, CSS, CSS3, front-end, GUI, graphical user interface, interface engineer, Interface Design
bodyClass: home
---

<section id="about">
  <h2>
    About Me
  </h2>
  <p class="intro">
    Hi! I'm a Front-End Web designer and developer with over 15 years of professional experience creating standards compliant web sites that utilize the latest design methods and technologies.
  </p>
</section>
