---
title: Front-End Web Design &amp; Development
---

<header id="hero">
  <div class="avatar">
  	<%= image_tag("avatar.jpg", height:'141', width:'127', alt:"Andrew Lawton") %>
    <h1>
  	  Andrew Lawton
    </h1>
  </div>
</header>
