---
title: Andrew Lawton | Product Designer
metaDescription: Andrew Lawton Product Designer
metaKeywords: Andrew Lawton, Web Design, Web Development, HTML, CSS, JavaScript, Front-End Design, Front-End Development, User Interface Design, Interaction Design, Information Architecture
bodyClass: home
---
<div id="loader-container">
  <div id="loader">
    <span>AL</span>
  </div>
  <div class="loader-section section-top"></div>
  <div class="loader-section section-bottom"></div>
</div>
<div class="container">
  <div class="hero" data-aos="zoom-in" data-aos-delay="2500" data-aos-offset="200">
    <h1>
      Hi <span class="waving-hand">&#128075;</span>
      I'm <span>Andrew</span>.
    </h1>
    <h2>A Boston based Product Designer</h2>
  </div>
  <div class="full-bleed" style="margin: 4rem 0 6rem 0; background-color: #cd2026">
    <div class="container">
      <p class="intro" style="font-size: 1.5rem; color: #fff">
        I solve complex informational and functional requirements through an iterative prototyping process to deliver user-centered interfaces based on the latest design methods, technologies and trends.
      </p>
    </div>
  </div>
  <h2 class="header-underline" style="margin: 0 0 6rem 0;">Recent Work</h2>
  <section class="full-bleed">
    <div class="work-image">
      <% link_to "/work/muzit/index.html", class:"" do %>
      <figure>
        <%= image_set_tag "work/muzit_2000w.jpg", {
          "work/muzit_320w.jpg" => "320w",
          "work/muzit_821w.jpg" => "821w",
          "work/muzit_1163w.jpg" => "1163w",
          "work/muzit_1326w.jpg" => "1326w",
          "work/muzit_1497w.jpg" => "1497w",
          "work/muzit_2000w.jpg" => "2000w"},
          sizes: "(max-width: 2000px) 100vw, 2000px",
          alt: "Person holding smart phone with Muzit title details on the screen",
          class: "responsive" %>
      </figure>
      <div class="container company-name" data-aos="fade-up">
        <h2>Muzit</h2>
      </div>
      <% end %>
  </section>
</div>
<%= partial "partials/contact" %>