---
title: Andrew Lawton - Front-End Web Designer &amp; Developer
metaDescription: Andrew Lawton Front-End Web Design and Development
metaKeywords: Andrew Lawton, Andrew, Lawton, Web Design, Web Development, user interface design, HTML, HTML5, CSS, CSS3, front-end, GUI, graphical user interface, interface engineer, Interface Design
bodyClass: home
---

<div id="loader-container">
  <div id="loader">
    <span>AL</span>
  </div>
  <div class="loader-section section-top"></div>
  <div class="loader-section section-bottom"></div>
</div>

<div class="container">
  <div class="hero" data-aos="zoom-in" data-aos-delay="2500" data-aos-offset="200">
    <h1>Hi <span class="waving-hand">&#128075;</span> I'm <span>Andrew</span>.</h1>
    <h2>I’m a user interface and interaction designer.
  </div>
  <h2 class="header-underline">Recent Work</h2>
  <section class="full-bleed">
    <div class="project">
      <% link_to "/work/muzit/index.html", class:"" do %>
      <figure>
        <%= image_tag("muzit-home.jpg", alt:"Muzit item detail hero image") %>
      </figure>
      <div class="container name" data-aos="fade-up">
        <h2>Muzit</h2>
      </div>
      <% end %>
    </section>
  </div>
  <%= partial "partials/contact" %>
</div>