---
title: FrontStream | Andrew Lawton
metaDescription:
metaKeywords:
bodyClass: work
---
<div class="container">
  <header>
    <div class="hero full-bleed">
      <%= image_tag("hero-panorama.png", alt:"Panorama", class:"responsive") %>
    </div>
  </header>
  <h1 class="header-underline">
    FrontStream
  </h1>
  <section class="full-bleed project-details">
    <div class="container">
      <div class="col-3">
        <div>
          <h3>Overview</h3>
          <p>
            FrontStream provides an all-in-one digital fundraising platform for that enable philanthropic corporations and nonprofit organizations to manage, plan, process and promote their fundraising events.
          </p>
        </div>
        <div>
          <h3>Role</h3>
          <ul>
            <li>Wireframe</li>
            <li>Rapid Prototyping</li>
            <li></li>
          </ul>
        </div>
        <div>
          <h3>Tech</h3>
          <ul>
            <li>HTML</li>
            <li>SASS</li>
            <li>Bootstrap</li>
            <li>JQuery</li>
            <li>Angular</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <p class="intro">
    FrontStream acquired BiddingForGood in 2015 to add online auction and donation management capabilities to their product line. I continued my responsibilites of doing design and delopment focusing on rebranding the BiddingForGood properties and redesign of a donation request application.
  </p>
  <div class="container">
    <div class="col-2">
      <figure class="image">
        <%= image_tag("work-panorama.png", alt:"Panorama", class:"responsive") %>
      </figure>
      <div class="description">
        <h3>
          Customizable Dashboard
        </h3>
        <p>
          At the core of Panorama is a customizable dashboard where the data, from FrontStream sites, is aggregated. This allows clients a very powerful way to visualize, anaylize and share their data in one place........
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-2 reverse">
      <figure class="image">
        <%= image_tag("panorama-new-widget.png", alt:"Panorama Create New widget", class:"responsive") %>
      </figure>
      <div class="description">
        <h3>
          Create Widgets
        </h3>
        <p>
          Customizable widgets can be created based on data sourced from each FrontStream Web site and can be manipulated so clients can gain insight into their overall fundraising activities and decision making.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-2">
      <figure class="image">
        <%= image_tag("panorama-edit-widget.png", alt:"Panorama Edit Widget", class:"responsive") %>
      </figure>
      <div class="description">
        <h3>
          Edit Widgets
        </h3>
        <p>
          Client's can easily modify existing widgets to show a different representation of the data.
        </p>
      </div>
    </div>
  </div>
</div>